[Unit]
Description=Datasaver systemd service.

[Service]
LimitNOFILE=57942
Type=simple
Restart=always
WorkingDirectory=/datasaver
ExecStartPre=/bin/cp -b -u /datasaver/datasaver.new /datasaver/datasaver
ExecStart=/datasaver/datasaver

[Install]
WantedBy=multi-user.target
